
:root{
    --text-color: #000
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    font-size: 15px;
    letter-spacing: 4px;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 5px 30px rgba(0,0,0,.2);
}

.header-logo{
    padding: 8px 16px;
}

.header-logo:hover{
    background-color: rgba(227, 224, 224);
}

.header-logo-link{
    text-decoration: none;
    color: black;
}


.menu{
    display: none;
}
.header-logo-link span{
    text-transform: uppercase;
    font-weight: bolder;
    
}


.nav{
    display: flex;
    justify-content: space-between;
    list-style:none;
    padding: 8px 16px;
}

.nav a{
    text-decoration: none;
    padding: 10px 16px;
    color:var(--text-color)
}

.nav a:hover{
    background-color: rgba(227, 224, 224);
}

.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    height: 90vh;
    font-size: 32px;
    color: #fff;
    font-family: Verdana,sans-serif;
    letter-spacing: 4px;
    position: relative;
    margin-top: 54.5px;
}

.banner p{
    position: absolute;
    top: 60%;
    left: 37%;
    /*border: 1px solid red;*/
    padding: 16px;
}

.banner span{
    text-transform: uppercase;
    font-weight: bolder;
    background-color: rgba(0,0,0,.8);
    padding: 14px;
    margin-right: 20px;
    /*border: 2px solid white;*/
    
}
.projects{
    padding: 24px;
    font-family: "Segoe UI",Arial,sans-serif;
    
}
.projects .heading{
      padding: 16px;
      border-bottom: 1px solid rgb(227, 224, 224);
      font-size: 24px;
      font-weight: 400;
}


.projects-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 16px;
    /* margin: 32px; */
    row-gap: 20px;
    column-gap: 20px;
    font-family: Verdana,sans-serif;
}

.img{
    flex-basis: 230px;
    flex-grow: 1;
    
    
}

.img h3{
        padding: 8px;
        background-color: black;
        width: 135px;
        color: #fff;
        font-weight: 400;
        line-height: 1.5; 
        font-size: 14px;
}
.img1{
    background-image: url(../images/house5.jpg);
     height: 200px;
     background-size: cover;
}

.img2{
    background-image: url(../images/house2.jpg);
    height: 200px;
    background-size: cover;
}

.img3{
    background-image: url(../images/house3.jpg);
    height: 200px;
    background-size: cover;
}

.img4{
    background-image: url(../images/house4\ \(1\).jpg);
    height: 200px;
    background-size: cover;

}

.img5{
    background-image: url(../images/house2.jpg);
    height: 200px;
    background-size: cover;
}

.img6{
    background-image: url(../images/house5.jpg);
    

    height: 200px;
    background-size: cover;
}

.img7{
    background-image: url(../images/house4\ \(1\).jpg);
    height: 200px;
    background-size: cover;
}

.img8{
    background-image: url(../images/house3\ \(1\).jpg);
    
    height: 200px;
    background-size: cover;
}

.about{
    padding-top: 24px;
}

.about p{
    text-align: justify;
    padding: 16px;
}

.teams{
    padding: 16px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}

.team{
    flex-basis: 250px;
    flex-grow: 1;
}

.team p{
    padding: 8px 16px 8px 0px;
    text-align: justify;
}

.team-content{
    text-align: justify;

}

.team-content h3{
    font-weight: 400;
    font-size: 24px;
}

.member{
    width: 100%;
    filter: grayscale(80%);
}

.team-btn{
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    /* padding: 8px 8px 8px 0; */
    
}

.team-btn:hover{
        background-color: rgba(227, 224, 224);
}


.contact{
    padding: 16px;
    /* font-size: 18px; */
    font-family: "Segoe UI",Arial,sans-serif;
}

.contact h3{
    border-bottom: 1px solid rgb(227, 224, 224);
    padding: 8px;
    font-size: 24px;
    font-weight: 400;

}

.contact p{
    padding: 16px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

form{
    padding: 16px;
}

form input{
    padding: 10px;
    margin: 16px 0px;
    width: 100%;
}

.contact-btn{
    background-color: black;
    padding: 8px 16px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

.map{
    padding: 16px 32px;
    /* width: 100%; */
}

iframe{
    width: 100%;
}

@media(max-width:700px){
    .header-nav{
        
        position: absolute;
        z-index: 2;
        top: 54.5px;
        background-color: #eee;
        width: 100%;
        left: 0px;

    }

    .header-nav .nav{
        display: block;
    }

    .menu{
        display: block;
    }

    .projects,.contact,.about{
        padding: 24px 12px;
    }

    .about p{
        padding: 16px 0px;
    }
}